{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/accall.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/accall_a.css' %}">

    <title>{% block head_title %}{% endblock head_title %}</title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% block body %}
      {% block content %}
      <!-- Сюда весь мусор будет лететь -->
      {% endblock content %}
    {% endblock body %}
    {% block extra_body %}

    {% endblock extra_body %}
  </body>
</html>
