{% extends "account/base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}


<main class="main">
    <div class="main__container">
        <a href="{% url 'store' %}" class="cloudy_motion_logo"></a>
        <form class="form" id="signup_form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            <h1 class="form__title">Sing in</h1>
            <div class="form__line"></div>
            
            <span class="form__fieldname">Email or username</span>
            <div class="form__input">
                {{ form.login }}
            </div>
            {% if form.login.errors %}
                <ul class="form__errorlist">
                    {% for error in form.login.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <span class="form__fieldname">Password</span>
            <div class="form__input">
                {{ form.password }}
            </div>
            {% if form.password.errors %}
                <ul class="form__errorlist">
                    {% for error in form.password.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="form__line"></div>
            <button class="form__submit" type="submit">Sing in</button>
            <div class="form__line"></div>
            
            <a href="{% url 'account_reset_password' %}" class="form__redirect">Forgot Password?</a>    
            <a href="{% url 'account_signup' %}" class="form__redirect">Don’t have an account yet?</a>    


            </form>
    </div>
</main>



{% endblock content %}
