{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}



    <main class="main">
        <div class="main__container">
            <!-- <a href="{% url 'store' %}"><div class="main__container-logo"></div></a> -->
            <a href="{% url 'store' %}" class="cloudy_motion_logo"></a>
            <form class="form">
                <h1 class="form__title">Change Password</h1>
                <div class="form__line"></div>
    
                <span class="form__fieldname">Your password is now changed.</span>
                
                <div class="form__line"></div>
                
                <a href="{% url 'store' %}" class="form__redirect">Return to store</a>    
            </form>
        </div>
    </main>
    
{% endblock content %}
