{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
    <main class="main">
        <div class="main__container">
            <!-- <a href="{% url 'store' %}"><div class="main__container-logo"></div></a> -->
            <a href="{% url 'store' %}" class="cloudy_motion_logo"></a>
            <form class="form password_reset_from_key" id="signup_form" method="post" action="{{ action_url }}">
                {% csrf_token %}
                <h1 class="form__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                <div class="form__line"></div>

                {% if token_fail %}
                <span class="form__fieldname">
                    {% url 'account_reset_password' as passwd_reset_url %}
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="form__redirect">new password reset</a>.{% endblocktrans %}
                </span>
                {% else %}
                    <div class="form__input">
                        {{form.password1}}
                    </div>
                    {% if form.password1.errors %}
                        <ul class="form__errorlist">
                            {% for error in form.password1.errors %}
                                <li class="form__errorlist__error">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="form__input">
                        {{form.password2}}
                    </div>
                    {% if form.password2.errors %}
                        <ul class="form__errorlist">
                            {% for error in form.password2.errors %}
                                <li class="form__errorlist__error">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="form__line"></div>
                    <button class="form__submit" type="submit" value="{% trans 'change password' %}">Change password</button>
                    <div class="form__line"></div>
                {% endif %}


    
                
                <a href="{% url 'store' %}" class="form__redirect">Return to store</a>    
    
    
            </form>
        </div>
    </main>
        
{% endblock content %}
