{% extends "account/base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Sign up" %}{% endblock head_title %}

{% block content %}
<main class="main">
    <div class="main__container">
        <!-- <a href="{% url 'store' %}"><div class="main__container-logo"></div></a> -->
        <a href="{% url 'store' %}" class="cloudy_motion_logo"></a>
        <form class="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <h1 class="form__title">Sing Up</h1>
            <div class="form__line"></div>

            <span class="form__fieldname">Username</span>
            <div class="form__input">
                {{form.username}}
            </div>
            {% if form.username.errors %}
                <ul class="form__errorlist">
                    {% for error in form.username.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <span class="form__fieldname">Email</span>
            <div class="form__input">
                {{form.email}}
            </div>
            {% if form.email.errors %}
                <ul class="form__errorlist">
                    {% for error in form.email.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <span class="form__fieldname">Password</span>
            <div class="form__input">
                {{form.password1}}
            </div>
            {% if form.password1.errors %}
                <ul class="form__errorlist">
                    {% for error in form.password1.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <span class="form__fieldname">Password again</span>
            <div class="form__input">
                {{form.password2}}
            </div>
            {% if form.password2.errors %}
                <ul class="form__errorlist">
                    {% for error in form.password2.errors %}
                        <li class="form__errorlist__error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
        
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <div class="form__line"></div>
            <button class="form__submit" type="submit">Continue</button>
            <div class="form__line"></div>

            
            <a href="{{ login_url }}" class="form__redirect">Have an account already?</a>    
            <a href="{% url 'store' %}" class="form__redirect">Back to store</a>    


        </form>
    </div>
</main>

{% endblock content %}
