{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}

{% url 'account_email' as email_url %}



<main class="main">
    <div class="main__container">
        <!-- <a href="{% url 'store' %}"><div class="main__container-logo"></div></a> -->
        <a href="{% url 'store' %}" class="cloudy_motion_logo"></a>
        <form class="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <h1 class="form__title">Verify Your Email Address</h1>
            <div class="form__line"></div>

                <ul class="form__errorlist">
                        <li class="form__errorlist__error">
                            This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your email address. 
                        </li>
                        <li class="form__errorlist__error">
                            We have sent an email to you for verification. Please click on the link inside that email. 
If you do not see the verification email in your main inbox, check your spam folder. 

                        </li>
                        <li class="form__errorlist__error">
                            Otherwise contact us if you do not receive it within a few minutes.
                        </li>
                </ul>
            <div class="form__line"></div>

            
            <a href="{% url 'store' %}" class="form__redirect">Return to store</a>    


        </form>
    </div>
</main>
{% endblock content %}
