/* ########################################## HEADER ########################################## */
@media only screen and (max-width: 1100px) {
    .header__container{
        width: 1000px;
    }
    .navbar__link-account {
        width: 30px;
        height: 30px;
    }
}
@media only screen and (max-width: 1000px) {
    .header__container{
        width: 900px;
    }
}
@media only screen and (max-width: 900px) {
    .header__container{
        width: 800px;
    }
}
@media only screen and (max-width: 800px) {
    .header__container{
        width: 700px;
    }
}
@media only screen and (max-width: 700px) {
    .header__container {
        width: calc(100% - 20px);
    }
}
@media only screen and (max-width: 650px) {
    .header__container-navbar {
        width: auto;
        gap: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .header__container-navbar {
        width: auto;
        gap: 15px;
    }
    .navbar__link {
        font-size: 14px;
    }
}
@media only screen and (max-width: 420px){
    .header__container-navbar {
        gap: 8px;
    }
    .navbar__link-account {
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width: 420px){
    .navbar__link {
        font-size: 12px;
    }
}
/* ########################################## HEADER ########################################## */
/* ########################################## FOOTER ########################################## */
@media only screen and (max-width: 1100px) {
    .footer__container_up{
        width: 1000px;
    }
}
@media only screen and (max-width: 1000px) {
    .footer__container_up{
        width: 900px;
    }
}
@media only screen and (max-width: 900px) {
    .footer__container_up{
        width: 800px;
    }
    .footer__container_down-social div {
        width: 26px;
        height: 26px;
    }
}
@media only screen and (max-width: 800px) {
    .footer__container_up{
        width: 700px;
    }
}
@media only screen and (max-width: 700px) {
    .footer__container_up{
        width: calc(100% - 20px);
    }
    .footer__container_down-social {
        width: 35%;
    }
}
@media only screen and (max-width: 500px) {
    .footer__container_up {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 45px;
    }
    .footer__container_up-items1, .footer__container_up-items2, .footer__container_up-items3, .footer__container_up-items4 {
        height: auto;
        gap: 10px;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .footer__container_down-social {
        width: 50%;
    }
}
/* ########################################## FOOTER ########################################## */

@media only screen and (max-width: 1100px) {
    .main__container {
        width: 1000px;
    }
}
@media only screen and (max-width: 1000px) {
    .main__container {
        width: 900px;
    }
    .form__element--buttons a, .form__element--buttons button {
        font-size: 12px;
    }
}
@media only screen and (max-width: 900px) {
    .main__container {
        width: 800px;
    }
    .form__element--buttons a, .form__element--buttons button {
        font-size: 11px;
        text-align: center;
    }
}
@media only screen and (max-width: 850px) {
    .main__content {
        flex-direction: column;
        gap: 45px;
    }
    .account__nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px;
        justify-content: space-between;
    }
    .account__nav-btn {
        justify-content: center;
    }
    .main__container h1{
        display: none;
    }
    .account__nav__content {
        width: 100%;
    }
    main {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 800px) {
    .main__container {
        width: 700px;
    }
}
@media only screen and (max-width: 700px) {
    .main__container {
        width: calc(100% - 20px);
    }
    .left__track_cover {
        width: 60px;
        height: 60px;
    }
    .left__track_data__track_name {
        font-size: 14px;
    }
    .left__track_data__track_license {
        font-size: 10px;
    }
    .right__track_pur_data__date {
        font-size: 10px;
    }
    .right__track_pur_data__price {
        font-size: 14px;
    }
    .content__support h2 {
        font-size: 18px;
    }
    .content__support h3, .content__support h3 a {
        font-size: 12px;
    }
    .nav-content form {
        gap: 5px;
    }
    .content__wishlist h2, .content__purchases h2 {
        font-size: 14px;
        text-align: center;
    }
    .content__wishlist {
        align-items: center;
    }
}
@media only screen and (max-width: 650px){
    .form__element--buttons a, .form__element--buttons button {
        padding: 0;
        text-align: center;
    }
    .form__element--buttons a, .form__element--buttons button {
        font-size: 10px;
        text-align: center;
    }
}
@media only screen and (max-width: 550px){
    .account__nav-btn {
        font-size: 18px;
    }
    .account__nav-btn.active, .account__nav-btn:hover {
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px){
    .account__nav-btn {
        font-size: 16px;
    }
    .account__nav-btn.active, .account__nav-btn:hover {
        font-size: 18px;
    }
    .ended-block button {
        font-size: 12px;
    }
    .ended-block label {
        font-size: 12px;
    }
    .right__track_links__trackout, .right__track_links__mp3 {
        height: 25px;
    }
    .right__track_links__trackout-text, .right__track_links__mp3-text {
        font-size: 10px;
    }
    .right__track_links__mp3-ico {
        width: 13px;
        height: 12px;
    }
    .right__track_links__trackout-ico {
        width: 11px;
        height: 14px;
    }
}
@media only screen and (max-width: 460px){
    .ended-block label {
        padding: 0px;
    }
    .ended-block button {
        padding: 0px;
    }
}
@media only screen and (max-width: 440px){
    .form__element--buttons a, .form__element--buttons button {
        font-size: 9px;
    }
    .account__nav-btn {
        font-size: 14px;
    }
    .account__nav-btn.active, .account__nav-btn:hover {
        font-size: 16px;
    }
}
@media only screen and (max-width: 400px){
    .left__track_data__track_license {
        font-size: 8px;
    }
    .account__nav-btn {
        font-size: 12px;
    }
    .account__nav-btn.active, .account__nav-btn:hover {
        font-size: 14px;
    }
}
@media only screen and (max-width: 380px){
    .right__track_links__mp3-ico {
        display: none;
    }
    .right__track_links__trackout-ico {
        display: none;
    }
}
@media only screen and (max-width: 360px){
    .account__nav-btn {
        font-size: 10px;
    }
    .account__nav-btn.active, .account__nav-btn:hover {
        font-size: 12px;
    }
    .right__track_pur_data__date {
        display: none;
    }
    .right__track_links__trackout, .right__track_links__mp3 {
        padding: 5px 2px;
    }
}