body{
    background-color: #110F13;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #1F1F1F;
    background: #141414;
    
}
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 100%;
}
.header__container-logo{
    width: 100px;
    height: 50px;
    background: url("../img/logo.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
}
.header__container-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}
.navbar__link{
    color: #ABABAB;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__link:hover{
    /* background: #000;
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.50);
    text-shadow: 0px 0px 15px #000000; */
    color: #BA0038;
    transition: 0.2s;
}
.navbar__link{position: relative;}
.navbar__link:active::after{
    content: '';
    width: 100%;
    height: inherit;
    border-right: 2px solid rgba(255, 255, 255, 0.10);
    border-left: 2px solid rgba(255, 255, 255, 0.10);
    position: absolute;
    top: 0;
    left: 0;
}
.navbar__link--svg{
    background-color: transparent;
}
.navbar__link--svg:hover{
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 10px white);
    
}
.navbar__link--svg:active{
    filter: none;
}
.navbar__link--svg:active::after{
    border: none;
}
.navbar__link-account{
    width: 35px;
    height: 35px;
    background: url("../img/account.svg") no-repeat;
    background-size: cover;
}
.navbar__link-basket{
    width: 35px;
    height: 35px;
    background: url("../img/basket.svg") no-repeat;
    background-size: cover;
}
.header__container-logo:hover{
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 5px white);
    transition: 0.2s;
}
.header__container-logo:active{
    stroke-width: 2px;
    stroke: #FFF;
    filter: none
}
.navbar__link-sep:active::after{
    border: none;
}
.navbar__link-sep:active{
    filter: none;
}
.navbar__link-sep:hover{
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.header__container-navbar--no{
    width: 300px;
}
.footer__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #110F13;
    margin-bottom: 50px;
}
.footer__container_line{
    width: 95%;
    height: 1px;
    background: linear-gradient(270deg, rgba(236, 241, 255, 0.00) 0%, #ECF1FF 46.15%, rgba(236, 241, 255, 0.00) 100%);
}
.footer__container_up{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer__container_down{
    width: 1100px;
}
.footer__container_up-items1, 
.footer__container_up-items2, 
.footer__container_up-items3, 
.footer__container_up-items4
.footer__container_up-logo{
    width: 20%;
}
.footer__container_up-logo{
    width: 150px;
    height: 75px;
    background: url("../img/logo.svg") no-repeat;
    background-size: cover;
    cursor: pointer;   
}
.footer__container_up-logo:hover{
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 5px white);
    transition: 0.2s;
}
.footer__container_up-items1, 
.footer__container_up-items2, 
.footer__container_up-items3,
.footer__container_up-items4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.footer__container_up-items1 a, 
.footer__container_up-items2 a, 
.footer__container_up-items3 a,
.footer__container_up-items4 a{
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 106.667% */
}
.footer__container_up-items1 a:hover, 
.footer__container_up-items2 a:hover, 
.footer__container_up-items3 a:hover,
.footer__container_up-items4 a:hover{
    color: #BA0038;
}
.footer__container_down{
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer__container_down-social{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.footer__container_down-social div{
    width: 35px;
    height: 35px;
    background-color: red;
    background: url("../img/inst.svg") no-repeat;
    background-size: cover;
}
.footer__container_down-social div:hover{
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
}
.footer__container_down-social a:nth-child(2) div{
    background: url("../img/youtube.svg") no-repeat;
    background-size: cover;
}
.footer__container_down-social a:nth-child(3) div{
    background: url("../img/tg.svg") no-repeat;
    background-size: cover;
}
.footer__container_down-social a:nth-child(4) div{
    background: url("../img/dc.svg") no-repeat;
    background-size: cover;
}
.footer__container_down-social a:nth-child(5) div{
    background: url("../img/email.svg") no-repeat;
    background-size: cover;
}
.footer__container_down-copyright{
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 106.667% */
    margin-top: 15px;
    margin-bottom: 60px;
}
.footer__container_down-logo{
    width: 100px;
    height: 50px;
    background: url("../img/logo-footer.svg") no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}
main{
    min-height: 800px;
    background: #0A0A09;
}
header{
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}
.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}
.main__container_playlist{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: 75px;
}
.music{
    width: 272.5px;
    /* height: 360px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.music:hover{
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.20);
}
.music__cover{
    width: 250px;
    height: 250px;
    border-radius: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music__cover:hover{
    border-radius: 0px 25px;
}

.music__cover_button{
    width: 50px;
    height: 58px;
    background-size: cover;
}
.music__cover:hover .music__cover_button{
    background: url("../img/play.svg") no-repeat;
}
.music__cover_button:hover, .music__cover:hover .music__cover_button:hover{
    background-image: url("../img/play1003.svg");
}
.music__cover:hover .music__cover_button-active{
    background: url('../img/m_pause70.svg') no-repeat;
}
.music__cover_button-active:hover, .music__cover:hover .music__cover_button-active:hover{
    background-image: url("../img/m-pause100.svg");
}
.music__data{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
}
.music__data-main{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.music__data h1, .music__data h1 a{
    color: #FFF;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
.music__data h1:hover, .music__data h1 a:hover{
    text-decoration: underline;
}
.music__data h2{
    color: #ABABAB;
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
}
.music__data h3{
    color: #BA0038;
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 228.571% */
    letter-spacing: 0.7px;
}
.main__container_sort{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 20px;
}
.main__container_sort-search{
    width: 400px;
    height: 35px;
}
.main__container_sort-search form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;   
}
.search__text{
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 0px 0px 0px 10px;
    border-bottom: 2px solid rgba(38, 38, 38, 0.20);
    background: #1A1A1A;
    backdrop-filter: blur(2px);
    padding: 10px;
}
.search__text::placeholder, .search__text{
    color: rgba(255, 255, 255, 0.40);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 213.333% */
    letter-spacing: 0.75px;
}
.search__text{
    color: #FFF;
}
.search__submit{
    width: 50px;
    height: 35px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    border: 2px solid rgba(186, 0, 56, 0.00);
    background: rgba(255, 255, 255, 0.19);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__submit div{
    width: 20px;
    height: 20px;
    background: url("../img/search_ico.svg") no-repeat;
    background-size: cover;
}

.main__container_banners{
    margin-top: 30px;
}
.main__container_banners-carousel{
    width: 1100px;
    height: 310px;
    background: rgba(186, 0, 56, 0.15);
    border-radius: 15px;
}
.carousel__slide{
    border-radius: 15px;
    position: absolute;
    width: 1100px;
    height: 310px;
    cursor: pointer;
    position: absolute;
}
/*  */
.carousel__slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
  }

  .carousel__slide.active {
    opacity: 1;
    z-index: 1;
  }
/*  */
.carousel__slide img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.player{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10;
}
.player-wrapper{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /* position: relative; */
}
.player__container{
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.player__container_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.player__container_buttons .random{
    width: 18px;
    height: 15px;
    background: url('../img/p-random.svg') no-repeat;
    background-size: cover;

    border: none;
    cursor: pointer;
}
.player__container_buttons .back{
    width: 13px;
    height: 15px;
    background: url('../img/p-b.svg') no-repeat;
    background-size: cover;

    border: none;
    cursor: pointer;

    margin-left: 30px;
}
.player__container_buttons .play{
    width: 40px;
    height: 40px;
    background: url('../img/p-p.svg') no-repeat;
    background-size: cover;
    
    border: none;
    cursor: pointer;

    margin-left: 10px; margin-right: 10px;
}
.player__container_buttons .forward{
    width: 13px;
    height: 15px;
    background: url('../img/p-f.svg') no-repeat;
    background-size: cover;
    
    border: none;
    cursor: pointer;

    margin-right: 30px;
}
.player__container_buttons .repeat{
    width: 18px;
    height: 15px;
    background: url('../img/p-repeat.svg') no-repeat;
    background-size: cover;
    
    border: none;
    cursor: pointer;
}

.player__container_other{
    display: flex;
    justify-content: space-between;
    width: 20%;
    /*  */
}
.other-buy{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px 4px;
    border: 2px solid #BA0038;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.other-buy:hover{
    background-color: #BA0038;
}
.other-buy img{
    width: 12px;
    height: 12px;
}
.other-buy div{
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.player-volume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.volume-ico{
    width: 20px;
    height: 15px;
    background: url("../img/p-vol.svg") no-repeat;
    background-size: cover;
}

.volume {
-webkit-appearance: none; /* Убираем стандартные стили вебкит-браузеров */
width: 100px; /* Ширина ползунка равна 100% */
height: 2px; /* Высота ползунка */
background: #464646;
opacity: 0.7; /* Прозрачность фона */
transition: opacity 0.2s; /* Плавное изменение прозрачности при наведении */
}

/* Стили для ползунка при наведении */
.volume:hover {
opacity: 1;
}
/* Стили для ползунка при активации (перетаскивание) */
.volume::-webkit-slider-thumb {
-webkit-appearance: none; /* Убираем стандартные стили вебкит-браузеров */
width: 6px; /* Ширина ползунка */
height: 6px; /* Высота ползунка */
background: #636363; 
border-radius: 50%; /* Круглая форма ползунка */
cursor: pointer; /* Курсор при наведении на ползунок */
}
.volume:hover::-webkit-slider-thumb, .volume::-webkit-slider-thumb:hover{
    width: 16px;
    height: 16px;
    transition: 0.2s;
}
/* Стили для маркеров (ticks) на ползунке (опционально) */
.volume::-webkit-slider-thumb::before {
content: "▼";
display: block;
text-align: center;
line-height: 20px;
font-size: 16px;
color: white;
}

  
.player__container_data{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player__container_data-music{
    display: flex;
    justify-content: start;
    align-items: center;
}
.player-cover{
    width: 50px;
    height: 50px;
}
.player-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    height: auto;
    gap: 2px;
    margin-left: 15px;
}
.player-name{
    color: #FFF;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 32px; 160%/ */
    letter-spacing: 1px;
    height: 18px;
    margin-bottom: 3px;
}
.player-type{
    color: #ABABAB;
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 32px; 246.154% */
    letter-spacing: 0.65px;
    height: 12px;
}
.player__progress{
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #BA0038;
    position: absolute;
    top: -2px; left: -2px;
}
/* .progress{
    width: 0%;
    height: 4px;
    background-color: #BA0038;
    position: relative;
}
.progress::after{
    content: '';
    width: 8px;
    height: 8px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -2px;
}
.player__progress:hover .progress{
    background-color: #ff004c;
    transition: 0.5s;
} */
.loadMusicAnim{
    animation-name: loadMusic;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes loadMusic {
    0%{
        background-color: #BA0038;
    }
    100%{
        background-color: #ffafc7;
    }
}
.randActive{
    background: url('../img/p-random.svg') no-repeat;
    background-size: cover;
}





/* @import "compass/css3"; */

.player__progress {
background: linear-gradient(to right, #BA0038 0%, #BA0038 50%, #464646 50%, #464646 100%);
border-radius: 2px;
height: 3px;
width: 100%;
outline: none; 
transition: background 450ms ease-in;

-webkit-appearance: none;
}
.player__progress:hover{
    background-color: blue;
}
.volume{
    background: linear-gradient(to right, #BA0038 0%, #BA0038 100%, #464646 50%, #464646 100%);
    transition: background 450ms ease-in;
    cursor: pointer;
    height: 3px;
}

.player__progress::-webkit-slider-thumb, .volume::-webkit-slider-thumb{
background-color: #BA0038;
height: 1px;
width: 1px;
border-radius: 50%;
-webkit-appearance: none;
}
.player__progress:hover::-webkit-slider-thumb, .player__progress::-webkit-slider-thumb:hover,
.volume:hover::-webkit-slider-thumb, .volume::-webkit-slider-thumb:hover{
background-color: #BA0038;
height: 20px;
width: 20px;
border-radius: 50%;
transition: 0.5s;
-webkit-appearance: none;
}


.carousel__slide img:hover{
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);

}
.player__container_buttons .forward:hover,
.player__container_buttons .play:hover,
.player__container_buttons .back:hover{
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 5px white);
    transition: 0.2s;
}







.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #110F13;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none; /* initially hide loader */
  }
  
  .loader {
    border: 8px solid #636363;
    border-top: 8px solid #BA0038;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.player-deactivate{
    bottom: -100px;
    opacity: 0;
}
.player-activate{
    bottom: -0px;
    opacity: 1;
}
.player{
    transition: bottom 0.5s ease, opacity 0.5s ease;
}
.volume-ico:hover{
    cursor: pointer;
}


.header{
    height: 60px;
}
.header__container-logo {
    width: 90px;
    height: 45px;
}

.main__container {
    margin-top: 60px;
}





.navbar__link {
    font-size: 16px;
}
.navbar__link-basket {
    width: 25px;
    height: 25px;
}
.header__container-logo {
    width: 75px;
    height: 37.5px;
}

.volume-ico:hover{
    stroke-width: 2px;
    stroke: #FFF;
    filter: drop-shadow(0px 0px 5px white);
    transition: 0.2s;
}
.search__text::placeholder, .search__text {
    color: rgba(255, 255, 255, 0.40);
    font-family: Outfit;
    font-size: 14px;
}



.music__data h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music__data h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music__data-name{
    width: 100%;
}
.music__data-typebeat{
    width: 100%;
}
.music__data-typebeat h2{
    text-align: left;
}
.music__data h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.player-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.loader-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #110F13;
    top: 100%;
}