{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'cm_site/img/logo.svg' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
        <title>CloudyMotion | Store</title>
    </head>
    <body>
        CART <br>
        <div class="cart_list">

        </div>
        <button class="buyBtn">BUY</button>
    <script>
        const songsData = JSON.parse(`{
            "value": [
                {% for element in tracks %}
                    {
                        "name": "{{element.track_name}}",
                        "typeBeat": "{{element.type_beat}} Type Beat",
                        "cover": "../media/{{element.cover_art}}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }`)["value"];
        const songs = JSON.parse(`{
            "value": [
                {% for element in basket %}
                    {
                        "name": "{{element.track_name}}",
                        "license": "{{element.license}}",
                        "price": "{{element.price}}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]   
        }`)["value"];

        let mergedSongs = [];
        songs.forEach(song => {
            const matchingSong = songsData.find(data => data.name === song.name);
            if (matchingSong) {
                const mergedSong = {
                    name: song.name,
                    license: song.license,
                    price: song.price,
                    typeBeat: matchingSong.typeBeat,
                    cover: matchingSong.cover
                };
                mergedSongs.push(mergedSong);
            }
        });
        console.log(mergedSongs);
    </script>
    <script>
        function insertScriptIntoDiv(jsCode) {
            var cartList = document.querySelector(".cart_list");
            if (cartList) {
                cartList.innerHTML = jsCode;
            }
        }
        let innerhtml = "<hr>";
        let totalPrice = 0;
        for (let i = 0; i < mergedSongs.length; i++) {
            innerhtml += `name: ${mergedSongs[i].name}<br>license: ${mergedSongs[i].license}<br>price: ${mergedSongs[i].price}<br>typeBeat: ${mergedSongs[i].typeBeat}<br>cover: ${mergedSongs[i].cover}<br><hr>`;
            totalPrice += parseInt(mergedSongs[i].price);
        }
        innerhtml += `TOTAL PRICE: ${totalPrice}`;
        insertScriptIntoDiv(innerhtml);
    </script>
    </body>
</html>