{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'cm_site/img/logo.svg' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/lk.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/lk_a.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/font_fix.css' %}">
        <title>CloudyMotion | Store</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    <a href="{% url 'store' %}">
                        <div class="header__container-logo"></div>
                    </a>
                        {% if user.is_authenticated %}
                            <!-- Навигация после аунтефикации -->
                            <div class="header__container-navbar">
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-home">Home</div>
                                </a>
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-services">Services</div>
                                </a>
                                <a href="{% url 'store' %}" class="navbar__link">
                                    <div class="navbar__link-contacts">Store</div>
                                </a>
                                <a href="{% url 'account' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-account"></div>
                                </a>
                                <a href="{% url 'cart' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-basket" {% if basket %}style="background: url('../../static/cm_site/img/cartisnotempty.svg') no-repeat; background-size: cover;"{% endif %}></div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Навигация без аунтификации -->
                            <div class="header__container-navbar header__container-navbar--no">
                                <a href="{% url 'store' %}" class="navbar__link">
                                    <div class="navbar__link-home">Store</div>
                                </a>
                                <a href="{% url 'account_login' %}" class="navbar__link">
                                    <div class="navbar__link-singin">Sign In</div>
                                </a>
                                <div class="navbar__link navbar__link-sep">
                                    <div id="item1" class="navbar__link-sep">|</div>
                                </div>
                                <a href="{% url 'account_signup' %}" class="navbar__link">
                                    <div class="navbar__link-singup">Sign Up</div>
                                </a>
                                <a href="{% url 'cart' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-basket" {% if basket %}style="background: url('../../static/cm_site/img/cartisnotempty.svg') no-repeat; background-size: cover;"{% endif %}></div>
                                </a>
                            </div>
                        {% endif %}
                </div>
            </header>
            <main class="main">
                <div class="main__container">
                    <h1>My Account</h1>
                    <div class="main__content">
                        <div class="account__nav">
                            <button class="account__nav-btn btn-info">My info</button>
                            <button class="account__nav-btn btn-purchases active">Purchases</button>
                            <button class="account__nav-btn btn-wishlist">Wishlist</button>
                            <button class="account__nav-btn btn-support">Support</button>
                            <button class="account__nav-btn btn-singout">Sing Out</button>
                        </div>
                        <div class="account__nav__content">

                            <div class="content__info nav-content">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form__element">
                                        <span class="form__element__text">Username</span>
                                        {{ user_form.username }}
                                        <ul>
                                            {% for error in user_form.username.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <span class="form__element__text">First name</span>
                                        {{ user_form.first_name }}
                                        <ul>
                                            {% for error in user_form.first_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <span class="form__element__text">Last name</span>
                                        {{ user_form.last_name }}
                                        <ul>
                                            {% for error in user_form.last_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <span class="form__element__text">Artist name</span>
                                        {{ user_form.artist_name }}
                                        <ul>
                                            {% for error in user_form.artist_name.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element--buttons">
                                        <a href="{% url 'account_email' %}">Email settings</a><br>
                                        <a href="{% url 'account_change_password' %}">Change password</a><br>
                                        <button name="form1-submit" type="submit">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="content__purchases nav-content active">
                                {% if user_pt %}
                                    {% for pt in user_pt %}
                                        <div class="purchases_track">
                                            <div class="purchases_track__left">
                                                <div class="left__track_cover" style="background: url('../media/{{pt.track.cover_art}}') no-repeat; background-size: cover;"></div>
                                                <div class="left__track_data">
                                                    <span class="left__track_data__track_name">{{pt.track.track_name}}</span>
                                                    <span class="left__track_data__track_license">{{pt.track_license}}</span>
                                                    <a href="../media/{{pt.contract}}" class="left__track_data__track_contract">Review License</a>
                                                </div>
                                            </div>
                                            <div class="purchases_track__right">
                                                <div class="right__track_pur_data">
                                                    <div class="right__track_pur_data__date">{{pt.purchase_date}} UTC-5:00</div>
                                                    <div class="right__track_pur_data__price">{{pt.track_license}}</div>
                                                </div>
                                                <div class="right__track_links">
                                                    {% if pt.track_license == 'wav' %}
                                                    {% else %}
                                                        <a href="{{pt.track.unl_and_exc_link}}" class="right__track_links__trackout">
                                                            <div class="right__track_links__trackout-ico"></div>
                                                            <span class="right__track_links__trackout-text">Trackout</span>
                                                        </a>
                                                    {% endif %}
                                                    <a href="{{pt.track.waw_link}}" class="right__track_links__mp3">
                                                        <div class="right__track_links__mp3-ico"></div>
                                                        <span class="right__track_links__mp3-text">Wav & MP3</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if not forloop.last %}
                                            <div class="purchases_line"></div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h1>The purchase history is empty</h1>
                                    <h2>Go to the <a href="{% url 'store' %}">store</a> now</h2>
                                {% endif %}
                            </div>

                            <div class="content__wishlist nav-content">
                                <h1>Coming Soon</h1>
                                <h2>Please be quet, the developer is making this page</h2>
                                <div class="ico"></div>
                            </div>

                            <div class="content__support nav-content">
                                <h2>Having an issue with our website?</h2>
                                <h3>Submit a ticket or contact us via <a href="https://www.instagram.com/cloudymotion4life/">Instagram</a></h3>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form__element">
                                        <span class="form__element__text">Email *</span>
                                        {{ error_form.email }}
                                        <ul>
                                            {% for error in error_form.email.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <span class="form__element__text">Subject *</span>
                                        {{ error_form.subject }}
                                        <ul>
                                            {% for error in error_form.subject.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <span class="form__element__text">Description *</span>
                                        {{ error_form.description }}
                                        <ul>
                                            {% for error in error_form.description.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="form__element">
                                        <div class="ended-block">
                                            {{ error_form.photo }}
                                            <label for="input__file">Add photo</label>
                                            <button name="form2-submit" type="submit">Submit Error Report</button>
                                            <script>
                                                function updateFileName(input) {
                                                    let fileName = input.files[0].name;
                                                    let label = input.parentNode.querySelector('label');
                                                    label.textContent = fileName;
                                                }
                                                document.querySelector('#input__file').addEventListener("change", function() {
                                                    updateFileName(this);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </form>                         
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            const redirect_on = "{{redirect_on}}";
            const singOutHREF = "{% url 'account_logout' %}";
        </script>
        <script src="{% static 'cm_site/js/lk.js' %}"></script>
    </body>
</html>