{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/store.css' %}">
    <title>CloudyMotion | Store</title>
</head>
<body>
    <!-- Оболочка -->
    <div class="wrapper">
        <!-- шапка -->
        <header class="header">
            <div class="header__container">
                <a href="{% url 'home' %}">
                    <div class="header__container-logo"></div>
                </a>
                    {% if user.is_authenticated %}
                        <!-- Навигация после аунтефикации -->
                        <div class="header__container-navbar">
                            <a href="" class="navbar__link">
                                <div class="navbar__link-home">Home</div>
                            </a>
                            <a href="" class="navbar__link">
                                <div class="navbar__link-services">Services</div>
                            </a>
                            <a href="" class="navbar__link">
                                <div class="navbar__link-contacts">Contacts</div>
                            </a>
                            <a href="" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-account"></div>
                            </a>
                            <a href="" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-basket"></div>
                            </a>
                        </div>
                    {% else %}
                        <!-- Навигация без аунтификации -->
                        <div class="header__container-navbar header__container-navbar--no">
                            <a href="" class="navbar__link">
                                <div class="navbar__link-home">Home</div>
                            </a>
                            <a href="{% url 'account_login' %}" class="navbar__link">
                                <div class="navbar__link-singin">Sign In</div>
                            </a>
                            <div class="navbar__link navbar__link-sep">
                                <div id="item1" class="navbar__link-sep">|</div>
                            </div>
                            <a href="{% url 'account_signup' %}" class="navbar__link">
                                <div class="navbar__link-singup">Sign Up</div>
                            </a>
                            <a href="" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-basket"></div>
                            </a>
                        </div>
                    {% endif %}
            </div>
        </header>
        <!-- Главная часть -->
        <main class="main">
            <div class="main__container">
                <div class="main__container_sort">
                    <div class="main__container_sort-search">
                        <form method="post">
                            {% csrf_token %}
                            {{ search_form.text_field }}
                            <button class="search__submit" type="submit"><div></div></button>
                        </form>
                    </div>
                    <div class="main__container_sort-filter"></div>
                </div>
                <div class="main__container_playlist">
                    {% for element in tracks %}
                        <div class="music">
                            <div class="music__cover" style="background: url('../media/{{element.cover_art}}') no-repeat; background-size: cover;">
                                <div class="music__cover_button"></div>
                            </div>
                            <div class="music__data">
                                <div class="music__data-main">
                                    <h2>{{element.bpm}} BPM</h2>
                                    <h2>·</h2>
                                    <h2>Key {{element.key}}</h2>
                                    <h2>·</h2>
                                    <h3>{{prices.wav_license}}$</h3>
                                </div>
                                <div class="music__data-name">
                                    <h1>{{element.track_name}}</h1>
                                </div>
                                <div class="music__data-typebeat">
                                    <h2>{{element.type_beat}} Type Beat</h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <!-- Подвал -->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__container_up">
                    <a href="{% url 'home' %}">
                        <div class="footer__container_up-logo"></div>
                    </a>
                    <div class="footer__container_up-items1">
                        <a href="">Home</a>
                        <a href="">Store</a>
                        <a href="">Accounts</a>
                        <a href="">Services</a>
                    </div>
                    <div class="footer__container_up-items2">
                        <a href="">Cart</a>
                        <a href="">About</a>
                        <a href="">Contact us</a>
                        <a href="">Support</a>
                    </div>
                    <div class="footer__container_up-items3">
                        <a href="">Beats</a>
                        <a href="">Custom beats</a>
                        <a href="">Mixing & mastering</a>
                        <a href="">Custom projects</a>
                    </div>
                    <div class="footer__container_up-items4">
                        <a href="">Agreement</a>
                        <a href="">Beat Licencing</a>
                        <a href="">Whish list</a>
                        <a href="">Your orders</a>
                    </div>
                </div>
                <div class="footer__container_line"></div>
                <div class="footer__container_down">
                    <div class="footer__container_down-social">
                        <a href=""><div class="instagram"></div></a>
                        <a href=""><div class="youtube"></div></a>
                        <a href=""><div class="telegram"></div></a>
                        <a href=""><div class="discord"></div></a>
                        <a href=""><div class="email"></div></a>
                    </div>
                    <div class="footer__container_down-copyright">
                        ©Copyright Cloudy Motion
                    </div>
                    <div class="footer__container_down-logo">

                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>