{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'cm_site/img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/store.css' %}">
    <link rel="stylesheet" href="{% static 'cm_site/css/store_a.css' %}">
    <title>CloudyMotion | Store</title>
</head>
<body>
    <!-- Оболочка -->
    <div class="wrapper" style="width: 100%;">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script>
            // Show loader immediately
const loaderWrapper = document.querySelector('.loader-wrapper');
loaderWrapper.style.display = 'flex'; // Show loader

// Hide loader when all resources are loaded
window.addEventListener('load', function () {
  loaderWrapper.style.display = 'none'; // Hide loader
  document.querySelector('.content').style.display = 'block'; // Show content
});

        </script>
        <!-- шапка -->
        <header class="header">
            <div class="header__container">
                <a href="{% url 'not_developed' %}">
                    <div class="header__container-logo"></div>
                </a>
                    {% if user.is_authenticated %}
                        <!-- Навигация после аунтефикации -->
                        <div class="header__container-navbar">
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-home">Home</div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-services">Services</div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-contacts">Contacts</div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-account"></div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-basket"></div>
                            </a>
                        </div>
                    {% else %}
                        <!-- Навигация без аунтификации -->
                        <div class="header__container-navbar header__container-navbar--no">
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-home">Home</div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-singin">Sign In</div>
                            </a>
                            <div class="navbar__link navbar__link-sep">
                                <div id="item1" class="navbar__link-sep">|</div>
                            </div>
                            <a href="{% url 'not_developed' %}" class="navbar__link">
                                <div class="navbar__link-singup">Sign Up</div>
                            </a>
                            <a href="{% url 'not_developed' %}" class="navbar__link navbar__link--svg">
                                <div class="navbar__link-basket"></div>
                            </a>
                        </div>
                    {% endif %}
            </div>
        </header>
        <!-- Главная часть -->
        <main class="main">
            <div class="main__container">
                <!-- Баннеры -->
                <div class="main__container_banners">
                    <div class="main__container_banners-carousel">
                        {% for banner in banners %}
                            <div class="carousel__slide" onclick="goToUrl('{{banner.link}}')">
                                <img src="../media/{{banner.banner}}" alt="banner.jpg">
                            </div>
                        {% endfor %}
                    </div>
                    <script>
                        function goToUrl(url){
                            window.open(url, '_blank');
                        }
                    </script>
                </div>
                <!-- Поисковик и фильтр -->
                <div class="main__container_sort">
                    <!-- Поисковик -->
                    <div class="main__container_sort-search">
                        <form method="post">
                            {% csrf_token %}
                            {{ search_form.text_field }}
                            <button class="search__submit" type="submit"><div></div></button>
                        </form>
                    </div>
                    <!-- Фильтр -->
                    <div class="main__container_sort-filter"></div>
                </div>
                <!-- Плейлист -->
                <div class="main__container_playlist">
                    {% for element in tracks %}
                        <div class="music">
                            <div class="music__cover" onclick="coverPlay({{forloop.counter}});" style="background: url('../media/{{element.cover_art}}') no-repeat; background-size: cover;">
                                <div class="music__cover_button"></div>
                            </div>
                            <div class="music__data">
                                <div class="music__data-main">
                                    <h2>{{element.bpm}} BPM</h2>
                                    <h2>·</h2>
                                    <h2>Key {{element.key}}</h2>
                                    <h2>·</h2>
                                    <h3>{{prices.wav_license}}$</h3>
                                </div>
                                <div class="music__data-name">
                                    <h1><a href="{% url 'store' %}{{element.id}}/{{element.track_name}}/">{{element.track_name}}</a></h1>
                                </div>
                                <div class="music__data-typebeat">
                                    <h2>{{element.type_beat}} Type Beat</h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <!-- Подвал -->
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__container_up">
                    <a href="{% url 'not_developed' %}">
                        <div class="footer__container_up-logo"></div>
                    </a>
                    <div class="footer__container_up-items1">
                        <a href="{% url 'not_developed' %}">Home</a>
                        <a href="{% url 'store' %}">Store</a>
                        <a href="{% url 'not_developed' %}">Accounts</a>
                        <a href="{% url 'not_developed' %}">Services</a>
                    </div>
                    <div class="footer__container_up-items2">
                        <a href="{% url 'not_developed' %}">Cart</a>
                        <a href="{% url 'not_developed' %}">About</a>
                        <a href="{% url 'not_developed' %}">Contact us</a>
                        <a href="{% url 'not_developed' %}">Support</a>
                    </div>
                    <div class="footer__container_up-items3">
                        <a href="{% url 'not_developed' %}">Beats</a>
                        <a href="{% url 'not_developed' %}">Custom beats</a>
                        <a href="{% url 'not_developed' %}">Mixing & mastering</a>
                        <a href="{% url 'not_developed' %}">Custom projects</a>
                    </div>
                    <div class="footer__container_up-items4">
                        <a href="{% url 'not_developed' %}">Agreement</a>
                        <a href="{% url 'not_developed' %}">Beat Licencing</a>
                        <a href="{% url 'not_developed' %}">Whish list</a>
                        <a href="{% url 'not_developed' %}">Your orders</a>
                    </div>
                </div>
                <div class="footer__container_line"></div>
                <div class="footer__container_down">
                    <div class="footer__container_down-social">
                        <a href="https://www.instagram.com/cloudymotion4life/"><div class="instagram"></div></a>
                        <a href="https://www.youtube.com/channel/UCjFzg281yew5Ikgu4QzfoqQ"><div class="youtube"></div></a>
                        <a href="https://t.me/Cloudy_Motion"><div class="telegram"></div></a>
                        <a href="https://discord.gg/8bJu3stv"><div class="discord"></div></a>
                        <a href="mailto:cloudymotion4life@gmail.com"><div class="email"></div></a>
                    </div>
                    <div class="footer__container_down-copyright">
                        ©Copyright Cloudy Motion
                    </div>
                    <div class="footer__container_down-logo">

                    </div>
                </div>
            </div>
        </footer>

        <!-- Плеер -->
        <div class="player">
            <!-- Звук -->
            <!-- <audio class="player__audio" src="../../../../../old/audio/antisocial/track.mp3"></audio> -->
            <!-- <audio class="player__audio" preload="auto" controls> -->
            <audio class="player__audio" preload="auto">
                <source src="" type="audio/mpeg">
            </audio>
            <!-- Прогресс бар -->
            <!-- <div class="player__progress">
                <div class="progress"></div>
            </div> -->
            <input class="player__progress" id="myRange" type="range" min="0" max="100" step="0.00001" value="0">
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script>
                let flag = false;
                $('.player__progress').on({
                    mouseenter: function () {
                        flag = true;
        $(this).css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${this.value}%, #464646 ${this.value}%, #464646 100%)`);

                    },
                    mouseleave: function () {
                        flag = false
        $(this).css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${this.value}%, transparent ${this.value}%, transparent 100%)`);

                    }
                });

            </script>
            <script>
                // .firefox
const isFF = true;

const addRule = ((style) => {
    const sheet = document.head.appendChild(style).sheet;

    return (selector, css) => {
        if (isFF) {
            if (sheet.cssRules.length > 0) {
                sheet.deleteRule(0);
            }

            try {
                sheet.insertRule(`${selector} {${css}}`, 0);
            } catch (ex) {
                isFF = false;
            }
        }
    };
})(document.createElement("style"));

// .chrome styling
$('.player__progress').on('input', function () {
    if (flag){
        $(this).css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${this.value}%, #464646 ${this.value}%, #464646 100%)`);
    } else {
        $(this).css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${this.value}%, transparent ${this.value}%, transparent 100%)`);
    }
});



            </script>
            <!-- Главная оболочка -->
            <div class="player-wrapper">
                <div class="player__container">
                    <!-- Левая часть -->
                    <div class="player__container_data">
                        <div class="player__container_data-music">
                            <div class="player-cover" style="background: url('../../../media/uploads/preview_9qSc1UG.jpg') no-repeat; background-size: cover;"></div>
                            <div class="player-data">
                                <div class="player-name">
                                    Extendo Clip
                                </div>
                                <div class="player-type">
                                    Lil Loaded type beat
                                </div>
                            </div>
                        </div>
                        <div class="extra-b">

                        </div>
                    </div>
                    <!-- Центральная часть -->
                    <div class="player__container_buttons">
                        <button class="random"></button>
                        <button class="back"></button>
                        <button class="play"></button>
                        <button class="forward"></button>
                        <button class="repeat"></button>
                    </div>
                    <!-- Правая часть -->
                    <div class="player__container_other">
                        <a href="{% url 'not_developed' %}">
                            <button class="other-buy">
                                <img src="../../static/cm_site/img/p-buy.svg" alt="">
                                <div>{{prices.wav_license}}$</div>
                            </button>
                        </a>
                        <div class="player-volume">
                            <div class="volume-ico" onclick="volumeButton()"></div>
                            <!-- <div class="volume"></div> -->
                            <input class="volume" type="range" id="volumeControl" min="0" max="1" step="0.01" value="1">
                            <script>
                                let volValue = 0;
                                const vol = document.getElementById('volumeControl');
                                
                                function volumeButton(){
                                    if (parseFloat(vol.value) != 0){
                                        volValue = parseFloat(vol.value);
                                        vol.value = 0;
                                        audio.volume = 0;
                                    } else {
                                        vol.value = volValue;
                                        audio.volume = volValue;
                                    }

                                    if (vol.value == 0){
                                        volumeControlIco.style.background = "url('../../static/cm_site/img/v1.svg')";
                                        volumeControlIco.style.backgroundSize = "cover";
                                        volumeControlIco.style.backgroundRepeat = "no-repeat";
                                    } else {
                                        if (vol.value < 0.33){
                                            volumeControlIco.style.background = "url('../../static/cm_site/img/v2.svg')";
                                            volumeControlIco.style.backgroundSize = "cover";
                                            volumeControlIco.style.backgroundRepeat = "no-repeat";
                                        } else {
                                            if (vol.value < 0.66){
                                                volumeControlIco.style.background = "url('../../static/cm_site/img/v3.svg')";
                                                volumeControlIco.style.backgroundSize = "cover";
                                                volumeControlIco.style.backgroundRepeat = "no-repeat";
                                            } else {
                                                volumeControlIco.style.background = "url('../../static/cm_site/img/p-vol.svg')";
                                                volumeControlIco.style.backgroundSize = "cover";
                                                volumeControlIco.style.backgroundRepeat = "no-repeat";
                                            }
                                        }
                                    }
                                    let volV = $('.volume');
                                    volV.css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${volV.val() * 100}%, #464646 ${volV.val() * 100}%, #464646 100%)`);
                                }
                            </script>
                            <script>
                                $('.volume').on('input', function () {
                                    $(this).css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${this.value * 100}%, #464646 ${this.value * 100}%, #464646 100%)`);
                                });
                                
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипт плеера -->
    <script>
        // Получение блоков
        const progressContainer = document.querySelector('.player__progress');
        const volumeControlIco = document.querySelector('.volume-ico');
        const typeBeat = document.querySelector('.player-type');
        const volumeControl = document.querySelector('.volume');
        const audio = document.querySelector('.player__audio');
        const cover = document.querySelector('.player-cover');
        // const progress = document.querySelector('.progress');
        const progress = document.querySelector('.player__progress');
        const title = document.querySelector('.player-name');
        const nextBtn = document.querySelector('.forward');
        const randBtn = document.querySelector('.random');
        const player = document.querySelector('.player');
        const repBtn = document.querySelector('.repeat');
        const playBtn = document.querySelector('.play');
        const prevBtn = document.querySelector('.back');
        player.classList.add('player-deactivate');
        // Переменная с треками 
        const songs = [
            {% for element in tracks %}
                {
                    name: "{{element.track_name}}",
                    typeBeat: "{{element.type_beat}} Type Beat",
                    cover: "../media/{{element.cover_art}}",
                    // mp3: "../media/{{element.mp3}}"
                    mp3: "../media/{{element.mp3}}",
                    scr: null
                    // mp3: "../media/{{element.mp3}}"
                },
            {% endfor %}
        ];
        for (let index = 0; index < songs.length; index++) {
            const audioUrl = songs[index].mp3;
            fetch(audioUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.blob();
            })
            .then(blob => {
                const objectURL = URL.createObjectURL(blob);
                songs[index].scr = objectURL;
                console.log('Audio loaded successfully:', audio);
            })
            .catch(error => {
                console.error('Error loading audio file:', error);
            });
            
        }
        // Начальная композиция
        let songIndex = 0;
        // Функция инициализации
        function loadSong(songIndex){
            audio.src = songs[songIndex].scr;
            title.innerHTML = songs[songIndex].name;
            typeBeat.innerHTML = songs[songIndex].typeBeat;
            // audio.load();
            cover.style.background = "url(" + songs[songIndex].cover + ")";
            cover.style.backgroundSize = "cover";
            cover.style.backgroundRepeat = "no-repeat";
        }
        // init
        loadSong(songIndex);
        // Запуск Трека
        function playSong(){
            player.classList.add('playSong');
            audio.play();
            playBtn.style.background = "url(../../static/cm_site/img/p-pp.svg)";
        }
        // Пауза
        function pauseSong(){
            player.classList.remove('playSong');
            audio.pause();
            playBtn.style.background = "url(../../static/cm_site/img/p-p.svg)";
        }
        // Кнопка play
        playBtn.addEventListener('click', () => {
            const isPlaying = player.classList.contains('playSong');
            if (isPlaying){
                pauseSong();
            } else {
                playSong();
            }
        });
        // Кнопка рандома
        let isRand = false;
        function randHandler(){
            if (isRand){
                isRand = false;
                randBtn.style.background = "url('../../static/cm_site/img/p-random.svg')";
                randBtn.style.backgroundSize = "cover";
                randBtn.style.backgroundRepeat = "no-repeat";
            } else {
                isRand = true;
                randBtn.style.background = "url('../../static/cm_site/img/randActive.svg')";
                randBtn.style.backgroundSize = "cover";
                randBtn.style.backgroundRepeat = "no-repeat";
            }
        }
        randBtn.addEventListener('click', randHandler);
        // Кнопка повтора
        let isRep = false;
        function repHandler(){
            if (isRep){
                isRep = false;
                repBtn.style.background = "url('../../static/cm_site/img/p-repeat.svg')";
                repBtn.style.backgroundSize = "cover";
                repBtn.style.backgroundRepeat = "no-repeat";
            } else {
                isRep = true;
                repBtn.style.background = "url('../../static/cm_site/img/repActive.svg')";
                repBtn.style.backgroundSize = "cover";
                repBtn.style.backgroundRepeat = "no-repeat";
            }
        }
        repBtn.addEventListener('click', repHandler);
        audio.addEventListener("ended", function() {
            if (isRep){
                audio.currentTime = 0;
                audio.play();
            }
            else{
                nextSong();
            }
        });
        // Кнопка next
        function nextSong(){
            songIndex++;
            if (songIndex > songs.length - 1){
                songIndex = 0;
            }
            if (isRand){
                songIndex = Math.floor(Math.random() * songs.length);
            }
            loadSong(songIndex);
            setTimeout(() => {
                playSong();
            }, 500);
        }
        nextBtn.addEventListener('click', nextSong);
        // Кнопка prev
        function prevSong(){
            songIndex--;
            if (songIndex < 0){
                songIndex = songs.length - 1;
            }
            if (isRand){
                songIndex = Math.floor(Math.random() * songs.length);
            }
            loadSong(songIndex);
            setTimeout(() => {
                playSong();
            }, 500);
        }
        prevBtn.addEventListener('click', prevSong);

        // Движение прогресс-бара
        function updateProgress(e){
            const {duration, currentTime} = e.srcElement;
            const progressPercent = (currentTime / duration) * 100;
            progress.value = parseFloat(progressPercent.toFixed(5));
            // Получаем элемент .player__progress
            const playerProgressUp = $('.player__progress');

            if (flag){
                playerProgressUp.css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${playerProgressUp.val()}%, #464646 ${playerProgressUp.val()}%, #464646 100%)`);

            } else {
                playerProgressUp.css('background', `linear-gradient(to right, #BA0038 0%, #BA0038 ${playerProgressUp.val()}%, transparent ${playerProgressUp.val()}%, transparent 100%)`);                
            }
            // Устанавливаем стиль

            // progress.style.background = `linear-gradient(to right, #BA0038 0%, #BA0038 ${progress.value}%, ##464646 ${progress.value}%, #464646 100%)`;
        }
        audio.addEventListener('timeupdate', updateProgress);
        progress.addEventListener('input', function() {
            const progress_value = parseFloat(this.value);
            const duration = audio.duration; 
            audio.currentTime = (progress_value / 100) * duration;
        });
        // Звук
        audio.volume = 1;
        volumeControl.addEventListener('input', function() {
            const volume = parseFloat(this.value);
            if (volume == 0){
                volumeControlIco.style.background = "url('../../static/cm_site/img/v1.svg')";
                volumeControlIco.style.backgroundSize = "cover";
                volumeControlIco.style.backgroundRepeat = "no-repeat";
            } else {
                if (volume < 0.33){
                    volumeControlIco.style.background = "url('../../static/cm_site/img/v2.svg')";
                    volumeControlIco.style.backgroundSize = "cover";
                    volumeControlIco.style.backgroundRepeat = "no-repeat";
                } else {
                    if (volume < 0.66){
                        volumeControlIco.style.background = "url('../../static/cm_site/img/v3.svg')";
                        volumeControlIco.style.backgroundSize = "cover";
                        volumeControlIco.style.backgroundRepeat = "no-repeat";
                    } else {
                        volumeControlIco.style.background = "url('../../static/cm_site/img/p-vol.svg')";
                        volumeControlIco.style.backgroundSize = "cover";
                        volumeControlIco.style.backgroundRepeat = "no-repeat";
                    }
                }
            }
            audio.volume = volume;
        });

        function coverPlay(index){
            if (player.classList.contains('player-deactivate')) {
                player.classList.remove('player-deactivate');
                player.classList.add('player-activate');
            }
            if (songIndex != index - 1){
                let classDel;
                let innerClassDel;
                for (let i = 1; i <= songs.length; i++) {
                    innerClassDel = document.querySelector(`.music:nth-child(${i}) .music__cover_button`);
                    classDel = document.querySelector(`.music:nth-child(${i})`);
                    classDel.classList.remove('operated');
                    innerClassDel.classList.remove('music__cover_button-active');
                }
            }
            const musicButton = document.querySelector(`.music:nth-child(${index})`);
            const isOperated = musicButton.classList.contains('operated');
            const musicCoverButton = document.querySelector(`.music:nth-child(${index}) .music__cover_button`);
            if (isOperated){
                const isPlaing = musicButton.classList.contains('playSong');
                if (isPlaing){
                    musicCoverButton.classList.remove('music__cover_button-active');
                    musicButton.classList.remove('playSong');
                    pauseSong();
                } else {
                    musicCoverButton.classList.add('music__cover_button-active');
                    musicButton.classList.add('playSong');
                    playSong();
                }
            } else {
                console.log('init');
                musicButton.classList.add('operated');
                musicButton.classList.add('playSong');
                musicCoverButton.classList.add('music__cover_button-active');
                songIndex = index - 1;
                loadSong(songIndex);
                setTimeout(() => {
                    playSong(songIndex);
                }, 500);
            }
        }
        setTimeout(() => {
            let va = '0.00001'
            progress.value = parseFloat(va.toFixed(5));
        }, 1000);
    </script>
    <!-- Скрипт Баннеров -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slides = document.querySelectorAll(".carousel__slide");
            let currentSlide = 0;

            function showSlide(slideIndex) {
            slides.forEach((slide, index) => {
                if (index === slideIndex) {
                slide.classList.add("active");
                } else {
                slide.classList.remove("active");
                }
            });
            }
            function nextSlide() {
                currentSlide = (currentSlide + 1) % slides.length;
                showSlide(currentSlide);
            }
            showSlide(currentSlide);
            setInterval(nextSlide, 7500);
  });
    </script>
</body>
</html>