{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'cm_site/img/logo.svg' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/font.css' %}">
        <link rel="stylesheet" href="{% static 'cm_site/css/track.css' %}">
        <title>CloudyMotion | Store</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    <a href="{% url 'not_developed' %}">
                        <div class="header__container-logo"></div>
                    </a>
                        {% if user.is_authenticated %}
                            <!-- Навигация после аунтефикации -->
                            <div class="header__container-navbar">
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-home">Home</div>
                                </a>
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-services">Services</div>
                                </a>
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-contacts">Contacts</div>
                                </a>
                                <a href="{% url 'not_developed' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-account"></div>
                                </a>
                                <a href="{% url 'cart' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-basket"></div>
                                </a>
                            </div>
                        {% else %}
                            <!-- Навигация без аунтификации -->
                            <div class="header__container-navbar header__container-navbar--no">
                                <a href="{% url 'not_developed' %}" class="navbar__link">
                                    <div class="navbar__link-home">Home</div>
                                </a>
                                <a href="{% url 'account_login' %}" class="navbar__link">
                                    <div class="navbar__link-singin">Sign In</div>
                                </a>
                                <div class="navbar__link navbar__link-sep">
                                    <div id="item1" class="navbar__link-sep">|</div>
                                </div>
                                <a href="{% url 'account_signup' %}" class="navbar__link">
                                    <div class="navbar__link-singup">Sign Up</div>
                                </a>
                                <a href="{% url 'cart' %}" class="navbar__link navbar__link--svg">
                                    <div class="navbar__link-basket"></div>
                                </a>
                            </div>
                        {% endif %}
                </div>
            </header>
            <main class="main">
                <div class="main__container">
                    <div class="beat">
                        <div class="beat__intro">
                            <div class="beat__intro__cover" style="background: url('../../media/{{track.cover_art}}') no-repeat; background-size: cover;"></div>
                            <div class="beat__intro__data">
                                <div class="beat__intro__data_name">
                                    <div class="beat__intro__data_name-text">
                                        <div>{{track.track_name}}</div>
                                        <div>{{track.type_beat}} type beat</div>
                                    </div>
                                    <div class="beat__intro__data_name-btn">
                                        <button class="to_cart">
                                            <div></div>
                                            <div>Add to cart</div>
                                        </button>
                                        <button class="play"></button>
                                    </div>
                                </div>
                                <div class="beat__intro__data_line"><div></div></div>
                                <div class="beat__intro__data_desc">{{track.description}}</div>
                            </div>
                        </div>
                        <div class="beat__license">
                            <h1>Beat license</h1>
                            <div class="line"></div>
                            <div class="beat__license__buttons">
                                <button class="wav active">
                                    <h1>Wav License</h1>
                                    <h1>${{prices.wav_license}}</h1>
                                    <h2>MP3, WAV</h2>
                                </button>
                                <button class="unl">
                                    <h1>Unlimited License</h1>
                                    <h1>${{prices.unlimited_license}}</h1>
                                    <h2>Stems, MP3, WAV</h2>
                                </button>
                                <button class="exc">
                                    <h1>Exclusive License</h1>
                                    <h1>${{prices.exclusive_license}}</h1>
                                    <h2>Stems, MP3, WAV</h2>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="beat__license_usage_terms">
                                <div class="terms_panel">
                                    <h1>Usage Terms</h1>
                                    <button class="terms_btn"></button>
                                </div>
                                <div class="terms t-wav">
                                    <h1>Wav Lease ({{prices.wav_license}}$)</h1>
                                    <div class="terms_desc">
                                        <div class="terms_desc__item1">
                                            <div class="terms_inner_item">
                                                <div class="tii tii1"></div>
                                                <h1>Used for recording</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii2"></div>
                                                <h1>1 music video</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item2">
                                            <div class="terms_inner_item">
                                                <div class="tii tii3"></div>
                                                <h1>Distribute up to 1,000 copies</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii4"></div>
                                                <h1>Radio broadcasting (2 stations)</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item3">
                                            <div class="terms_inner_item">
                                                <div class="tii tii5"></div>
                                                <h1>10,000 online streams</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii6"></div>
                                                <h1>For profit performances</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="terms t-unl">
                                    <h1>Unlimited Lease ({{prices.unlimited_license}}$)</h1>
                                    <div class="terms_desc">
                                        <div class="terms_desc__item1">
                                            <div class="terms_inner_item">
                                                <div class="tii tii1"></div>
                                                <h1>Used for recording</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii2"></div>
                                                <h1>2 music video</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item2">
                                            <div class="terms_inner_item">
                                                <div class="tii tii3"></div>
                                                <h1>Distribute up to 10,000 copies</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii4"></div>
                                                <h1>Radio broadcasting (10 stations)</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item3">
                                            <div class="terms_inner_item">
                                                <div class="tii tii5"></div>
                                                <h1>500,000 online streams</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii6"></div>
                                                <h1>For profit performances</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="terms t-exc">
                                    <h1>Exclusive ({{prices.exclusive_license}}$)</h1>
                                    <div class="terms_desc">
                                        <div class="terms_desc__item1">
                                            <div class="terms_inner_item">
                                                <div class="tii tii1"></div>
                                                <h1>Used for recording</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii2"></div>
                                                <h1>Unlimited music video</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item2">
                                            <div class="terms_inner_item">
                                                <div class="tii tii3"></div>
                                                <h1>Distribute unlimited copies</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii4"></div>
                                                <h1>Unlimited radio broadcasting</h1>
                                            </div>
                                        </div>
                                        <div class="terms_desc__item3">
                                            <div class="terms_inner_item">
                                                <div class="tii tii5"></div>
                                                <h1>Unlimited online streams</h1>
                                            </div>
                                            <div class="terms_inner_item">
                                                <div class="tii tii6"></div>
                                                <h1>For profit performances</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="line"></div>
                            
                        </div>
                        <div class="beat__data">
                            <div class="beat__data__info">
                                <h1>BEAT INFO</h1>
                                <div class="bpm">
                                    <h1>BPM</h1>
                                    <h1>{{track.bpm}}</h1>
                                </div>
                                <div class="key">
                                    <h1>Key</h1>
                                    <h1>{{track.key}}</h1>
                                </div>
                                <div class="mood">
                                    <h1>Mood</h1>
                                    <h1>{{track.mood}}</h1>
                                </div>
                                <div class="duration">
                                    <h1>Duration</h1>
                                    <h1>{{track.duration}}</h1>
                                </div>
                            </div>
                            <div class="beat__data__tags_and_share">
                                <div class="tags">
                                    <h1>BEAT TAGS</h1>
                                    <h1>
                                        {% if track.tags.all %}
                                            {% for tag in track.tags.all %}
                                                {{tag}}{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            ...
                                        {% endif %}
                                    </h1>
                                </div>
                                <div class="share_and_ico">
                                    <button class="share">
                                        <div></div>
                                        <h1>Share</h1>
                                    </button>
                                    <div class="ico"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer__container">
                    <div class="footer__container_up">
                        <a href="{% url 'not_developed' %}">
                            <div class="footer__container_up-logo"></div>
                        </a>
                        <div class="footer__container_up-items1">
                            <a href="{% url 'not_developed' %}">Home</a>
                            <a href="{% url 'store' %}">Store</a>
                            <a href="{% url 'not_developed' %}">Accounts</a>
                            <a href="{% url 'not_developed' %}">Services</a>
                        </div>
                        <div class="footer__container_up-items2">
                            <a href="{% url 'not_developed' %}">Cart</a>
                            <a href="{% url 'not_developed' %}">About</a>
                            <a href="{% url 'not_developed' %}">Contact us</a>
                            <a href="{% url 'not_developed' %}">Support</a>
                        </div>
                        <div class="footer__container_up-items3">
                            <a href="{% url 'not_developed' %}">Beats</a>
                            <a href="{% url 'not_developed' %}">Custom beats</a>
                            <a href="{% url 'not_developed' %}">Mixing & mastering</a>
                            <a href="{% url 'not_developed' %}">Custom projects</a>
                        </div>
                        <div class="footer__container_up-items4">
                            <a href="{% url 'not_developed' %}">Agreement</a>
                            <a href="{% url 'not_developed' %}">Beat Licencing</a>
                            <a href="{% url 'not_developed' %}">Whish list</a>
                            <a href="{% url 'not_developed' %}">Your orders</a>
                        </div>
                    </div>
                    <div class="footer__container_line"></div>
                    <div class="footer__container_down">
                        <div class="footer__container_down-social">
                            <a href="https://www.instagram.com/cloudymotion4life/"><div class="instagram"></div></a>
                            <a href="https://www.youtube.com/channel/UCjFzg281yew5Ikgu4QzfoqQ"><div class="youtube"></div></a>
                            <a href="https://t.me/Cloudy_Motion"><div class="telegram"></div></a>
                            <a href="https://discord.gg/8bJu3stv"><div class="discord"></div></a>
                            <a href="mailto:cloudymotion4life@gmail.com"><div class="email"></div></a>
                        </div>
                        <div class="footer__container_down-copyright">
                            ©Copyright Cloudy Motion
                        </div>
                        <div class="footer__container_down-logo">
    
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            let cartUrl = "{% url 'basket' %}";
            let trackName = "{{track.track_name}}";
            let csrfmiddlewaretoken = "{{ csrf_token }}";
        </script>
        <script src="{% static 'cm_site/js/track.js' %}"></script>
    </body>
</html>